/* ==================== */
/* Add Tailwind CSS */
/* ==================== */
@import "tailwindcss";

/* ==================== */
/* Font family import */
/* ==================== */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* ==================== */
/* Themes */
/* ==================== */
@theme {
  --breakpoint-sm: 40em;
  --breakpoint-md: 48em;
  --breakpoint-lg: 64em;
  --breakpoint-xl: 80em;

  --color-primary: oklch(0.5545 0.1314 43.96);
  --color-primary-transparent: oklch(0.5545 0.1314 43.96 / 70%);
  --color-surface: oklch(0.9668 0.0054 95.1);
  --color-white: oklch(0.9982 0.0025 165.08);
  --color-gray: oklch(0.95 0 165.08);
  --color-gray-transparent: oklch(0.95 0 0 / 50%);
  --color-text: oklch(0.2264 0 0);
  --color-light: oklch(0.5103 0 0);
  --color-black: oklch(0.2 0 260);
  --color-black-transparent: oklch(0.2 0 260 / 70%);

  --spacing-sm: 1rem;
  --spacing-md: 3rem;
  --spacing-lg: 5rem;
  --spacing-xl: 7rem;

  --font-heading: "Playfair Display", serif;
  --font-body: "Inter", sans-serif;
}

/* ==================== */
/* Utilities */
/* ==================== */
@utility root-bg-light {
  @apply relative bg-[url('/images/kitchen.jpg')] bg-cover bg-center;
  @apply before:content-[''] before:absolute before:inset-0;
  @apply before:bg-[linear-gradient(to_right,rgba(245,244,240,1),rgba(245,244,240,0))];
}

@utility root-bg-dark {
  @apply relative bg-[url('/images/kitchen.jpg')] bg-cover bg-center;
  @apply before:content-[''] before:absolute before:inset-0;
  @apply before:bg-[linear-gradient(to_right,rgba(0,0,0,0.7),rgba(0,0,0,0.7))];
}

@utility wrapper {
  @apply max-sm:px-sm max-md:px-md max-lg:px-lg max-xl:px-xl px-36;
}

@utility logo {
  @apply max-sm:h-11 max-md:h-12 max-lg:h-14 h-16;
}

@utility nav-link {
  @apply px-5 py-3 font-bold rounded-md hover:bg-black-transparent hover:text-white transition-all duration-400 ease-out;
}

@utility nav-link-active {
  @apply bg-black-transparent text-white;
}

@utility heading-xl {
  @apply max-sm:text-4xl max-md:text-5xl max-lg:text-6xl font-heading text-black text-7xl;
}

@utility heading-lg {
  @apply max-sm:text-3xl max-md:text-4xl max-lg:text-5xl font-heading text-black text-6xl;
}
