/* ==================== */
/* Add Tailwind CSS */
/* ==================== */
@import "tailwindcss";

/* ==================== */
/* Font family import */
/* ==================== */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* ==================== */
/* Layers */
/* ==================== */
@layer components {
  .leaflet-popup-content {
    @apply m-3!;
  }

  .leaflet-popup-content p {
    @apply m-0! text-xs!;
  }

  .carousel {
    scrollbar-width: none;
    -ms-overflow-style: none;

    -webkit-mask-image: linear-gradient(
      90deg,
      transparent,
      white 20%,
      white 80%,
      transparent
    );
    mask-image: linear-gradient(
      90deg,
      transparent,
      white 20%,
      white 80%,
      transparent
    );

    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

  @media (prefers-reduced-motion: reduce) {
    .carousel-group {
      animation-duration: 120s;
    }
  }
}

@layer utilities {
  .carousel::-webkit-scrollbar {
    display: none;
  }
}

/* ==================== */
/* Themes */
/* ==================== */
@theme {
  --breakpoint-sm: 40em;
  --breakpoint-md: 48em;
  --breakpoint-lg: 64em;
  --breakpoint-xl: 80em;

  --color-primary: oklch(0.5545 0.1314 43.96);
  --color-primary-transparent: oklch(0.5545 0.1314 43.96 / 70%);
  --color-surface: oklch(93.7% 0 0);
  --color-white: oklch(0.9982 0.0025 165.08);
  --color-gray: oklch(0.95 0 165.08);
  --color-gray-dark: oklch(0.6031 0 0);
  --color-gray-transparent: oklch(0.95 0 0 / 50%);
  --color-text: oklch(0.2264 0 0);
  --color-light-1: oklch(0.9668 0.0054 95.1);
  --color-light-2: oklch(0.9061 0.0068 97.36);
  --color-black: oklch(0.2 0 260);
  --color-black-transparent: oklch(0.2 0 260 / 70%);

  --spacing-sm: 1rem;
  --spacing-md: 3rem;
  --spacing-lg: 5rem;
  --spacing-xl: 7rem;

  --font-heading: "Playfair Display", serif;
  --font-body: "Inter", sans-serif;

  --animate-scroll: scroll 35s infinite linear;

  @keyframes scroll {
    from {
      translate: 0;
    }
    to {
      translate: -100%;
    }
  }
}

/* ==================== */
/* Utilities */
/* ==================== */
@utility root-bg-light {
  @apply relative bg-[url('/images/kitchen-bg.jpg')] bg-cover bg-center;
  @apply before:content-[''] before:absolute before:inset-0;
  @apply before:bg-[linear-gradient(to_right,rgba(245,244,240,1)_35%,rgba(245,244,240,0))];
}

@utility root-bg-dark {
  @apply relative bg-[url('/images/kitchen.jpg')] bg-cover bg-center;
  @apply before:content-[''] before:absolute before:inset-0;
  @apply before:bg-[linear-gradient(to_right,rgba(0,0,0,0.7),rgba(0,0,0,0.7))];
}

@utility focus-ring {
  @apply focus:outline-none focus-visible:ring-2 focus-visible:ring-primary-transparent focus-visible:ring-offset-2;
}

@utility wrapper {
  @apply max-sm:px-sm max-md:px-md max-lg:px-lg max-xl:px-xl px-36;
}

@utility section {
  @apply max-sm:py-3 max-md:py-6 max-lg:py-9 max-xl:py-12 py-16;
}

@utility logo {
  @apply max-sm:h-10 max-md:h-11 max-lg:h-13 h-15;
}

@utility nav-link {
  @apply px-5 py-3 font-bold rounded-md hover:bg-black-transparent hover:text-white transition-all duration-400 ease-out;
}

@utility nav-link-active {
  @apply bg-black-transparent text-white;
}

@utility heading-xl {
  @apply max-sm:text-4xl max-md:text-5xl max-lg:text-6xl font-heading text-black text-7xl;
}

@utility heading-lg {
  @apply max-sm:text-3xl max-md:text-4xl max-lg:text-5xl font-heading text-black text-6xl;
}

@utility heading-md {
  @apply max-sm:text-2xl max-md:text-3xl max-lg:text-4xl font-heading text-black text-5xl;
}

@utility heading-popup {
  @apply text-lg font-heading text-black font-bold;
}

@utility project-marker {
  @apply inline-flex justify-center items-center w-8 h-8 rounded-[50%] bg-primary text-white font-bold;
}

@utility carousel-group {
  @apply flex gap-[2em] pr-[2em] animate-scroll;
}
